header {
    background-color: darkgreen;
    height: 100px;
}

.navigation {
    background-color: darkgreen;
    height: 400px;
    width: 20%;
    float: left;
    margin-right: 14px;
}

.article {
    background-color: darkgreen;
    height: 400px;
    width: 58%;
    float: left;
}

.sidebar {
    background-color: darkgreen;
    height: 400px;
    width: 20%;
    float: right;
}

.content {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

footer {
    background-color: darkgreen;
    height: 100px;
}